<template>
    <div>
        <!-- =========================
            START RECENT RENOVATIONS SECTION
        ============================== -->
        <section class="single_portfolio_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="single_portfolio_content">
                            <div class="single_page_slider_wrapper">
                                <span class="s_b_f ">before</span>
                                <span class="s_b_f s_b_f2">after</span>
                                <div id="single_page_slider" class="owl-carousel owl-theme">
                                    <div class="items" style="height: 400px">
                                        <div class="img-comp-container">
                                            <div class="img-comp-img"  v-bind:style="{'background': 'url('+ core.Asset_Path + 'images/portfolio1.png) no-repeat', 'background-size': 'contain', 'height': '400px', 'width': '100%!important', 'display': 'block'}">
                                            </div>
                                            <div class="img-comp-img img-comp-overlay"  v-bind:style="{'background': ' #d8d8d8 url('+ core.Asset_Path + 'images/portfolio2.png) no-repeat', 'background-size': 'contain', 'height': '400px', 'width': '100%!important', 'display': 'block'}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="items" style="height: 400px">
                                        <div class="img-comp-container">
                                            <div class="img-comp-img"  v-bind:style="{'background': '#d8d8d8 url('+ core.Asset_Path + 'images/portfolio1.png)', 'background-size': 'contain', 'height': '400px', 'width': '100%!important', 'display': 'block'}">
                                            </div>
                                       
                                            <div class="img-comp-img img-comp-overlay"  v-bind:style="{'background': 'url('+ core.Asset_Path + 'images/portfolio2.png)', 'background-size': 'contain', 'height': '400px', 'width': '100%!important', 'display': 'block'}">
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            </div> 
                            <div class="clearfix"></div>
                            <div class="single_content_text clearfix">
                                <p><span v-text="__('Vivamus tempus risus metus, sed porttitor nibh auctor et. Nunc hendrerit diam sed turpis imperdiet, ut lobortis dolor bibendum. Sed gravida pretium leo in suscipit. Vestibulum pharetra tortor tellus, ut mattis magna fringilla sit amet. Fusce iaculis nisi quis ex dapibus, non pellentesque ipsum pulvinar. Suspendisse euismod quis erat a lobortis. Sed pellentesque pellentesque erat vitae luctus. Cras quis est enim. Maecenas quam lacus, eleifend vel leo eget, malesuada porta lorem. Nam lectus libero, congue id facilisis et, molestie id risus. Morbi volutpat, odio nec commodo egestas, risus ligula viverra ante, ac dictum eros ante in augue. Suspendisse justo massa, maximus nec erat a, ultricies tincidunt ante.')"></span><br> <br><span v-text="__('Ut vehicula consequat nulla, sit amet aliquam lorem luctus et. Phasellus consectetur congue lacinia. Morbi tincidunt nunc ut libero aliquam, eget accumsan ante rutrum. Donec auctor faucibus leo, eu venenatis leo aliquam in. Sed at tellus in leo porttitor tempor vitae sagittis lacus. Sed a aliquam massa. Morbi sed dui eu ante commodo finibus vel id ante. Mauris vitae odio libero. Praesent pellentesque, velit sed elementum porta, neque orci mattis augue, sed mattis arcu turpis a ipsum. Quisque condimentum, neque eu sagittis sodales, sapien lorem iaculis dolor, sed rutrum nibh sem convallis orci.')"></span></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="sidebar_area">
                            <div class="sidebar_title">
                                <div class="sidebar_title_inner">
                                    <h2 v-text="__('PREVENTIVO GRATUITO')"></h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dolor augue, lobortis nec hendrerit.</p>
                                    <ul>
                                        <li><a href="#"><i class="material-icons">accessibility_new</i> <span v-text="__('PROGETTO VIRTUALE')"></span></a></li>
                                        <li><a href="#"><i class="material-icons">all_out</i> <span v-text="__('UNICO ARCHITETTO')"></span></a></li>
                                        <li><a href="#"><i class="material-icons">calendar_view_day</i> <span v-text="__('APPARTAMENTO GRATUITO')"></span></a></li>
                                        <li><a href="#"><i class="material-icons">eject</i> <span v-text="__('SMONTAGGIO MOBILI')"></span></a></li>
                                        <li><a href="#"><i class="material-icons">invert_colors</i> <span v-text="__('APPLICAZIONE DEDICATA')"></span></a></li>
                                        <li><a href="#"><i class="material-icons">loyalty</i> <span v-text="__('RISPETTO DEI TEMPI')"></span></a></li>
                                    </ul>
                                </div>
                                <a href="#"><span v-text="__('COMPILA IL FORM')"></span> <img src="images/arrow-right.png" alt=""></a>
                            </div>
                            <div class="sidebar_list">
                                <h2>Project details</h2>
                                <ul>
                                    <li><em v-text="__('Tipologia')"></em>: <span v-text="__('Cliente Privato')"></span></li>
                                    <li><em v-text="__('Data')"></em>: <span>09/12/2018</span></li>
                                    <li><em v-text="__('Budget')"></em>: <span>25.000 €</span></li>
                                    <li><em v-text="__('Città')"></em>: <span>Milano</span></li>
                                    <li><em v-text="__('Superficie')"></em>: <span>280 Mq</span></li>
                                    <li><em v-text="__('Consegna')"></em>: <span v-text="__('12 giorni')"></span></li>
                                </ul>
                            </div>
                            <div class="sidebar_list sidebar_list2">
                                <ul>
                                    <li><em v-text="__('Condividi')"></em>: <span>[Social Icons]</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- =========================
            END RECENT RENOVATIONS SECTION
        ============================== -->
    </div>
</template>

<script>
    export default {
        name: 'app',
        data() {
            return {
                core : core,
                selectAMb : 0
            }
        },
        mounted(){
            function initComparisons() {
                console.log('Its working');
              var x, i;
              /*find all elements with an "overlay" class:*/
              x = document.getElementsByClassName("img-comp-overlay");
              for (i = 0; i < x.length; i++) {
                /*once for each "overlay" element:
                pass the "overlay" element as a parameter when executing the compareImages function:*/
                compareImages(x[i]);
              }
              function compareImages(img) {
                var slider, img, clicked = 0, w, h;
                /*get the width and height of the img element*/
                w = img.offsetWidth;
                h = img.offsetHeight;
                /*set the width of the img element to 50%:*/
                img.style.width = (w / 2) + "px";
                /*create slider:*/
                slider = document.createElement("DIV");
                slider.setAttribute("class", "img-comp-slider");
                /*insert slider*/
                img.parentElement.insertBefore(slider, img);
                /*position the slider in the middle:*/
                slider.style.top = (h / 2) - (slider.offsetHeight / 2) + "px";
                slider.style.left = (w / 2) - (slider.offsetWidth / 2) + "px";
                /*execute a function when the mouse button is pressed:*/
                slider.addEventListener("mousedown", slideReady);
                /*and another function when the mouse button is released:*/
                window.addEventListener("mouseup", slideFinish);
                /*or touched (for touch screens:*/
                slider.addEventListener("touchstart", slideReady);
                /*and released (for touch screens:*/
                window.addEventListener("touchstop", slideFinish);
                function slideReady(e) {
                  /*prevent any other actions that may occur when moving over the image:*/
                  e.preventDefault();
                  /*the slider is now clicked and ready to move:*/
                  clicked = 1;
                  /*execute a function when the slider is moved:*/
                  window.addEventListener("mousemove", slideMove);
                  window.addEventListener("touchmove", slideMove);
                }
                function slideFinish() {
                  /*the slider is no longer clicked:*/
                  clicked = 0;
                }
                function slideMove(e) {
                  var pos;
                  /*if the slider is no longer clicked, exit this function:*/
                  if (clicked == 0) return false;
                  /*get the cursor's x position:*/
                  pos = getCursorPos(e)
                  /*prevent the slider from being positioned outside the image:*/
                  if (pos < 0) pos = 0;
                  if (pos > w) pos = w;
                  /*execute a function that will resize the overlay image according to the cursor:*/
                  slide(pos);
                }
                function getCursorPos(e) {
                  var a, x = 0;
                  e = e || window.event;
                  /*get the x positions of the image:*/
                  a = img.getBoundingClientRect();
                  /*calculate the cursor's x coordinate, relative to the image:*/
                  x = e.pageX - a.left;
                  /*consider any page scrolling:*/
                  x = x - window.pageXOffset;
                  return x;
                }
                function slide(x) {
                  /*resize the image:*/
                  img.style.width = x + "px";
                  /*position the slider:*/
                  slider.style.left = img.offsetWidth - (slider.offsetWidth / 2) + "px";
                }
              }
            }

            $(function () {
                var single_page_slider = jQuery("#single_page_slider");
                single_page_slider.owlCarousel({
                        loop: false,
                        margin: 0,
                        smartSpeed: 1500,                
                        autoplay:false,
                        touchDrag: false,
                        mouseDrag: false,
                        pullDrag: false,
                        freeDrag: false,
                        nav: true,
                        dots:true,
                        navText: ['<img src="'+core.Asset_Path+'images/arrow-left.png">','<img src="'+core.Asset_Path+'images/arrow-right.png">'],
                        responsive: {
                                0: {
                                    items: 1
                                },
                                400: {
                                    items: 1
                                },
                                768: {
                                    items: 1
                                },
                                1200: {
                                    items: 1
                                }
                            }
                        }).on("dragged.owl.carousel", function (event) {
                    console.log('event : ',event.relatedTarget['_drag']['direction'])
                });

                initComparisons();

            });
        }
    }
</script>
