<template>
	<!-- =========================
        START RESTRUCTURE SECTION
    ============================== -->
    <section class="restructure_area">
        <div class="common_title">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h3 v-text="__('LA RISTRUTTURAZIONE CHE LA TUA CASA VUOLE')"></h3> 
                        <h2 v-text="__('Le nostre ristrutturazioni')"></h2>
                        <span></span> 
                        <p>
                        	<span v-text="__('Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dolor augue,')"></span>
                                <br> <span v-text="__('lobortis nec hendrerit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.')"></span>
                                <br> <span v-text="__('Nunc dolor augue, lobortis nec hendrerit.')"></span>
                        </p>                          
                    </div>
                </div>
            </div>                
        </div>
    </section>
    <!-- =========================
        END RESTRUCTURE SECTION
    ============================== -->
</template>

<script>
    export default {
        name: 'app',
        data() {
            return {
                core : core,
                selectAMb : 0
            }
        },
        mounted(){
        }
    }
</script>
