<template>
    <div>
        <!-- =========================
            START BANNER SECTION
        ============================== -->
        <section class="banner_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="banner_left">
                            <p v-text="__('SIAMO LEADER IN ITALIA')"></p>
                            <h2><span v-text="__('Ristruttura la tua casa')"></span> <br> <span v-text="__('con noi!')"></span></h2>
                            <h3 v-text="__('Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dolor augue, lobortis nec hendrerit.')"></h3>
                            <ul>
                                <li>Lorem ipsum dolor sit amet </li>
                                <li>Lorem ipsum dolor sit amet </li>
                                <li>Lorem ipsum dolor sit amet </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="banner_right">
                            <div class="banner_checkbox">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <input type="checkbox" id="test1" :checked="selectAMb == 1 ? true : false"
                                               @click="selectAMb = 1"/>
                                        <label for="test1" :class="{showshawdow : selectAMb == 1 ? true : false}">
                                            <img :src="core.Asset_Path+'images/banner-ic1.png'" alt="">
                                        </label>
                                        <!--<span>Residenziale <br> <b>APPARTAMENTI E CASE</b></span>-->
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="checkbox" id="test2" :checked="selectAMb == 2 ? true : false"
                                               @click="selectAMb = 2"/>
                                        <label for="test2"  :class="{showshawdow : selectAMb == 2 ? true : false}">
                                            <img :src="core.Asset_Path+'images/banner-ic2.png'" alt="">
                                        </label>
                                        <!--<span>da 330€/mq</span>-->
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="checkbox" id="test3" :checked="selectAMb == 3 ? true : false"
                                               @click="selectAMb = 3"/>
                                        <label for="test3" :class="{showshawdow : selectAMb == 3 ? true : false}">
                                            <img :src="core.Asset_Path+'images/banner-ic3.png'" alt="">
                                        </label>
                                        <!--<span></span>-->
                                    </div>
                                </div><div class="row">
                                    <div class="col-sm-4">
                                        <span class="_ttl" v-text="__('Residenziale')"></span>
                                        <span class="_slgn"  v-text="__('APPARTAMENTI E CASE')"></span>
                                    </div>
                                    <div class="col-sm-4">
                                        <span class="_ttl" >da 330€/mq</span>
                                    </div>
                                    <div class="col-sm-4">
                                        <br>
                                        <a href="#"><span v-text="__('COSA FACCIAMO')"></span> <i class="material-icons">arrow_forward</i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- =========================
            END BANNER SECTION
        ============================== -->
    </div>
</template>

<script>
    export default {
        name: 'app',
        data() {
            return {
                core : core,
                selectAMb : 1
            }
        }
    }
</script>
