<template>
    <div>
        <!-- =========================
            START BANNER SECTION
        ============================== -->
        <section class="banner_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="banner_left">
                            <p v-text="__('SIAMO LEADER IN ITALIA')"></p>
                            <h2><span v-text="__('Ristruttura la tua casa')"></span> <br> <span v-text="__('con noi!')"></span></h2>
                            <h3 v-text="__('Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dolor augue, lobortis nec hendrerit.')"></h3>

                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="bredcrums_area">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><router-link :to="'/'" v-text="__('HOME')"></router-link></li>
                                    <li class="breadcrumb-item"><router-link :to="'/ambienti'" v-text="__('AMBIENTI')"></router-link></li>
                                    <li class="breadcrumb-item active" v-text="__('CUCINA')"></li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- =========================
            END BANNER SECTION
        ============================== -->
    </div>
</template>

<script>
    export default {
        name: 'app',
        data() {
            return {
                core : core,
                selectAMb : 1
            }
        }
    }
</script>
